<html>
	<head>
		<title>My Page</title>
	</head>

	<body>
	<table border=1>
		<tr><td id="name" colspan="2">Derke Olena Oleksandrivna</td></tr>
		<tr>
			<td rowspan="5"><%= image_tag("avatar.png") %></td>
		</tr>
		<tr>
			<td><%= link_to "About me", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "My works", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "Make an order", href="#" %></td>
		</tr>
		<tr>
			<td><%= link_to "Contacts", href="#" %></td>
		</tr> 		
	</table>	
	</body>
</html>